<!DOCTYPE html>
<html>
  <head>
    <link href="index.css" type="text/css" rel="stylesheet" />
  </head>
  <body>
    <div id="shade"></div>
    <header>
      <h1>Infinit Records</h1>
    </header>
    <nav>
      <a href="/">Home</a>
      <a href="/blog">Blog</a>
      <a href="/rates">Rates</a>
      <a href="/gear">Gear</a>
      <a href="/contact">Contact</a>
    </nav>
    <main>
      {{{yield}}}
    </main>
    <footer>
      <script src="index.js" type="text/javascript"></script>    
    </footer>
  </body>
</html>
