@font-face {
  font-family: 'True Lies';
  src: url('/true-lies.ttf');
}

html, body, main {
  width: 100%;
  /* height: 100%; */
}

body {
  background-color: black;
  color: white;
  font-family: Helvetica;
  background-size: cover;
  font-size: 1.5em;
  background-repeat: no-repeat;
}

header, nav, main, footer {
  margin: 40px;
}

a {
  color: #DDD;
  text-decoration: none;
}

a:hover {
  color: #FFF;
}

a:active {

}

a:visited {
}

a:not(:last-child):after {
  content: ' —';
  color: #DDD;
}

h1 {
  font-size: 3.5em;
  margin: 0;
  font-family: 'True Lies';
}

header *, nav, main, footer {
  z-index: 1000;
}

#shade {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background: black;
  opacity: .66;
  z-index: -1;
  -webkit-transform: translateZ(0);
}